@charset "utf-8";
@import "common";
body {
    background: #f1473f;
}
.warp {
    width: 100%;
    overflow: hidden;
    .common-bg {
        img {
            width: 100%;
        }
    }
    .section-1 {
        position: relative;
        .user-info {
            position: absolute;
            color: #fff;
            bottom: rem(34px);
            left: rem(26px);
        }
    }
    // 中奖名单
    .section-3 {
        position: relative;
        .draw-book {
            position: absolute;
            width: rem(72px);
            height: rem(51px);
            display: block;
            top: rem(20px);
            left: rem(15px);
            z-index: 99;
        }
        .tab-container {
            // height: rem(220px);
            width: rem(343px);
            top: rem(48px);
            left: rem(15px);
            position: absolute;
            .tab {
                width: 100%;
                position: relative;
                border: 1px solid #333;
                overflow: hidden;
                border-radius: rem(6px);
                box-sizing: border-box;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                .tab-left,
                .tab-right {
                    background: #81cef2;
                    font-size: 16px;
                    font-weight: bold;
                    color: #fff;
                    width: 50%;
                    float: left;
                    text-align: center;
                    height: rem(50px);
                    line-height: rem(50px);
                    box-sizing: border-box;
                    border-bottom: rem(1px) solid #333;
                    border-bottom-right-radius: 0;
                }
                .tab-right {
                    border-left: rem(1px) solid #333;
                    border-top-right-radius: 5px;
                }
                .active {
                    position: relative;
                    background: #00a2e6;
                    i {
                        position: absolute;
                        left: rem(65px);
                        top: rem(36px);
                        height: rem(15px);
                        width: rem(40px);
                        display: block;
                        // background: url('../img/draw-tab-active.png');
                    }
                }
            }
            .content1,
            .content2 {
                width: 100%;
                height: rem(170px);
                overflow-y: scroll;
                position: absolute;
                top: rem(52px);
                background: #fff;
                padding: rem(5px) rem(30px);
                box-sizing: border-box;
                line-height: rem(32px);
                letter-spacing: 2;
                border-radius: rem(5px);
                border: rem(1px) solid #333;
                border-top: none;
                border-top: none;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                .user-name {
                    width: rem(100px);
                    display: inline-block;
                }
                .date {
                    margin-right: rem(15px);
                }
            }
        }
    }
}
// 弹层
.toast {
    .gray-bounced {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.82);
        position: fixed;
        z-index: 999999;
    }
    .bounced {
        z-index: 999999;
        width: rem(303px);
        margin: auto;
        position: absolute;
        top: rem(300px);
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        img {
            width: 100%;
        }
        .prize {
            color: #db483a;
            font-size: rem(24px);
            letter-spacing: 2;
            position: relative;
            top: rem(-205px);
            left: 41%;
            font-weight: bold;
        }
    }
}
.section-2 {
    position: relative;
}
#lottery {
    position: absolute;
    top: rem(92px);
    left: rem(33px);
    width: 100%;
    table td {
        width: rem(99px);
        height: rem(77px);
        text-align: center;
        vertical-align: middle;
        background-color: #ccc;
        font-size: rem(24px);
        color: #fff;
        .start {
            height: rem(77px);
            width: 100%;
            border: none;
            line-height: rem(77px);
            display: block;
            text-decoration: none;
            color: #00a2e6;
            font-size: rem(14px);
            box-sizing: border-box;
            padding-top: rem(20px);
        }
        .active {
            background: rgba(255,255,255,0.68)!important;
            // background: rgba(0, 161, 233, 0.5) !important;
            height: rem(74px);
            width: rem(96px);
            border-radius: rem(5px);
            margin-left: rem(1px);
        }
    }
    // 背景图
    .lottery-unit-0 {
        background: url('../img/rotary/rotary-img-0.png');
    }
    .lottery-unit-1 {
        background: url('../img/rotary/rotary-img-1.png');
    }
    .lottery-unit-2 {
        background: url('../img/rotary/rotary-img-2.png');
    }
    .lottery-unit-3 {
        background: url('../img/rotary/rotary-img-5.png');
    }
    .lottery-unit-4 {
        background: url('../img/rotary/rotary-img-3.png');
    }
    .lottery-unit-5 {
        background: url('../img/rotary/rotary-img-7.png');
    }
    .lottery-unit-6 {
        background: url('../img/rotary/rotary-img-6.png');
    }
    .lottery-unit-7 {
        background: url('../img/rotary/rotary-img-3.png');
    }
    .lottery-start .start {
        background: url('../img/rotary/rotary-img-4.png');
    }
    .lottery-start .start,
    .lottery-unit-0,
    .lottery-unit-1,
    .lottery-unit-2,
    .lottery-unit-3,
    .lottery-unit-4,
    .lottery-unit-5,
    .lottery-unit-6,
    .lottery-unit-7 {
        width: rem(99px);
        height: rem(77px);
        background-repeat: no-repeat;
        background-size: contain;
    }
}
